{% load static %}
{% include "menu.html" %}
<!-- {% include "menu.html" %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "estilos/home.css" %}>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>

  <div class="container-all">
    <input type="radio" id="1" name="image-slide" hidden>
    <input type="radio" id="2" name="image-slide" hidden>
    <input type="radio" id="3" name="image-slide" hidden>

    <div class="slide">
      <div class="item-slide">
        <img src="/static/imagenes/Foto2.jpg" alt="">
      </div>
      <div class="item-slide">
        <img src="/static/imagenes/Foto2.jpg" alt="">
      </div>
      <div class="item-slide">
        <img src="/static/imagenes/Foto2.jpg" alt="">
      </div>
    </div>
    <div class="pagination">
      <label class="pagination-item" for="1">
        <img src="/static/imagenes/Foto2.jpg" alt="">
      </label>
      <label class="pagination-item" for="2">
        <img src="/static/imagenes/Foto2.jpg" alt="">
      </label>
      <label class="pagination-item" for="3">
        <img src="/static/imagenes/Foto2.jpg" alt="">
      </label>
    </div>
  </div>

  <div class="titulo">
    <h1>Bienvenido a Munay Travel</h1>
    <p>Planificamos sus vacaciones en torno a sus intereses específicos, brindando servicios personalizados
      en todo el Cusco Transport and Tours ofrece todo tipo de servicios, paquetes turísticos completos, traslados de
      lujo, degustación gourmet, viajes familiares, luna de miel, aventura, caminatas por el Camino Inca y tours
      culturales inmersivos.
    </p>
    <hr>
  </div>
  <h2 class="text-center"><b><u>Nuestros Tours</u></b></h2>
  <br>
  <!-- contenido de las imagenes  -->
  
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src={% static "imagenes/Foto2.jpg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src={% static "imagenes/Foto2.jpg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col" style="margin-top: 15px;">
        <div class="card" style="width: 25rem;">
          <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      
      <div class="col" style="margin-top: 15px;">
        <div class="card" style="width: 25rem;">
          <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col" style="margin-top: 15px;">
        <div class="card" style="width: 25rem;">
          <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col" style="margin-top:15px;">
        <div class="card" style="width: 25rem;">
          <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <h1 class="text-center">Lugares mas visitados</h1><br>

  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">

      <div class="borde"></div>
    </div>
    <div class="p-2 bd-highlight">
      <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">
    </div>
    <div class="p-2 bd-highlight">
      <img src={% static "imagenes/Foto1.jpg" %} class="card-img-top" alt="...">
    </div>
  </div>

  <h1 class="text-center">Lo que dicen nuestros clientes acerca de nosotros</h1>
  <br>


  <footer>

    <div class="container-footer-all">

      <div class="container-body">

        <div class="colum1">
          <h1>Navegacion de links</h1>
          <a href="{{nosotros}}">Nosotros</a>
          <a href="{{home}}">T y C</a>
          <a href="{{blog}}">Blogs</a>

        </div>

        <div class="colum2">

          <h1>Redes Sociales</h1>

          <div class="row1">
            <img src={% static "imagenes/facebook.png" %}>
            <label>Siguenos en Facebook</label>
          </div>

          <div class="row1">
            <img src={% static "imagenes/instagram.png" %}>
            <label>Siguenos en Instagram</label>
          </div>
          <div class="row1">
            <img src="icon/google-plus.png">
            <label>Siguenos en Google Plus</label>
          </div>
          <div class="row1">
            <img src="icon/pinterest.png">
            <label>Siguenos en Pinteres</label>
          </div>


        </div>

        <div class="colum3">

          <h1>Informacion Contactos</h1>

          <div class="row2">
            <img src={% static "imagenes/house.png" %}>
            <label>Urb los nogales A-4 San sebastian - cusco</label>
          </div>

          <div class="row2">
            <img src={% static "imagenes/smartphone.png" %}>
            <label>+51-928-200-398</label>
          </div>

          <div class="row2">
            <img src={% static "imagenes/contact.png" %}>
            <label>info@muñatravel.com</label>
          </div>

        </div>

      </div>

    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2017 Todos los Derechos Reservados | <a href="">Munay Travel</a>
        </div>

        <div class="information">
          <a href="">Informacion Compañia</a> | <a href="">Politica y privacidad</a> | <a href="">Terminos y
            Condiciones</a>
        </div>
      </div>

    </div>

  </footer>

</body>

</html>