{% load static %}
{% include "menu.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "estilos/nosotros.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body >
    <div class="container">
        <div class="row ">
            <p><center>EXPERTOS EN VIAJE Y TURISMO</center></p>
            <h1><center><b>NOSOTROS</b> </h1>
            <h1></h1>
            <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                <img src="/static/imagenes/equipo.jpg" alt="">
                </div>
            </div>
            </div>
            <div class="col-sm-6 container">
                <div class=" centrar">
                    <div class="card-body ">
                        <h3 class="card-title"><center>QUE TUS VACACIONES CON MUÑA TRAVEL</center></h5>
                        <p class="card-text"><center>Muña travel; es una agencia de viajes que tiene como fin brindarle los mejores destinos para sus vacaciones, contamos con una variedad de paquetes de viajes y tours en los destinos más solicitados y exóticos. Asi poder brindarles la mejor asesoria personalizada, contamos con las mejores ofertas turísticas para conocer el Perú  y también programas  de viajes educativo, viajes de promoción, etc. En cada mágica ciudad de este legendario país.</center></p>
                    </div>
                </div>
            </div>
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <div  class="col-sm-6 container bg-success mb-3 " style=" color: #ffffff;max-width: 18rem; text-align: center;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">“Misión”</h5>
                  <p class="card-text">Brindar el mejor servicio con nuestros paquetes de viajes turísticos con el fin de lograr la plena satisfacción del viajero y</p>
                  <p class="card-text">Así puedan conocer las maravillas y la biodiversidad más importantes de nuestro país y del exterior.</p>
                </div>
            </div>
            <div  class="card text-white bg-success mb-3 " style="max-width: 18rem; text-align: center;">
                <div class="card-header"></div>
                <div class="card-body" style=" color: #ffffff;">
                  <h5 class="card-title">“Visión”</h5>
                  <p class="card-text">Ser la agencia de viajes con mayor movimiento de clientes satisfechos y contentos en su experiencia vivencial y cultural dentro del País, así como en el Exterior.</p>

                </div>
            </div>
            <div  class="col-sm-6 container bg-success mb-3 "  style=" color: #ffffff;max-width: 18rem; text-align: center;">
                <div class="card-header"></div>
                <div class="card-body " style="color: #ffffff;" >
                  <h5 class="card-title">“Compromiso”</h5>
                  <p class="card-text"><span >Atención Garantizada</span></p>
                  <p class="card-text"><span >Confianza</span></p>
                  <p class="card-text"><span>Calidad de servicios</span></p>
                  <p class="card-text"><span >Responsabilidad</span></p>
                </div>
            </div>
            
        </div>
        <div class="container px-5 my-5 card h-100 " style="text-align: center;">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    
                    <img  width="150" height="150" src="/static/imagenes/ubicacion.png" alt="" >
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Dirección</h2>
                    <p>Calle Ubinas 121 San Miguel Lima – Perú<br>
                        Calle Oswaldo baca j17 Magisterio Cusco – Perú</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <img width="150" height="150"  src="/static/imagenes/datos.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-47281 et-animated">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Datos de la Empresa</h2>
                    <p>Razón social: MUÑA TRAVEL <br> 20564149242</p>
                </div>
                <div class="col-lg-4">
                    <img width="150" height="150" src="/static/imagenes/llamar.png" alt="" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-47278 et-animated">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">LLÁMANOS</h2>
                    <p>+51 994688255<br>ventas@muñatravel.com.pe</p>
                </div>
            </div>
        </div>
    </div>

    <footer>

        <div class="container-footer-all">
    
          <div class="container-body">
    
            <div class="colum1">
              <h1>Navegacion de links</h1>
              <a href="{{nosotros}}">Nosotros</a>
              <a href="{{home}}">T y C</a>
              <a href="{{blog}}">Blogs</a>
    
            </div>
    
            <div class="colum2">
    
              <h1>Redes Sociales</h1>
    
              <div class="row1">
                <img src={% static "imagenes/facebook.png" %}>
                <label>Siguenos en Facebook</label>
              </div>
    
              <div class="row1">
                <img src={% static "imagenes/instagram.png" %}>
                <label>Siguenos en Instagram</label>
              </div>
              <div class="row1">
                <img src="icon/google-plus.png">
                <label>Siguenos en Google Plus</label>
              </div>
              <div class="row1">
                <img src="icon/pinterest.png">
                <label>Siguenos en Pinteres</label>
              </div>
    
    
            </div>
    
            <div class="colum3">
    
              <h1>Informacion Contactos</h1>
    
              <div class="row2">
                <img src={% static "imagenes/house.png" %}>
                <label>Urb los nogales A-4 San sebastian - cusco</label>
              </div>
    
              <div class="row2">
                <img src={% static "imagenes/smartphone.png" %}>
                <label>+51-928-200-398</label>
              </div>
    
              <div class="row2">
                <img src={% static "imagenes/contact.png" %}>
                <label>info@muñatravel.com</label>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
        <div class="container-footer">
          <div class="footer">
            <div class="copyright">
              © 2017 Todos los Derechos Reservados | <a href="">Munay Travel</a>
            </div>
    
            <div class="information">
              <a href="">Informacion Compañia</a> | <a href="">Politica y privacidad</a> | <a href="">Terminos y
                Condiciones</a>
            </div>
          </div>
    
        </div>
    
      </footer>
</body>
</html>